{% block table %}
	<div class="{{ classes }}">
		<div class="table-inner">

			{% if table_html %}
				<div class="table-main">{{ table_html }}
				</div>
			{% endif %}
			{% if table_annotation %}
				<span class="table-annotation">{{ table_annotation }}</span>
			{% endif %}

		</div>
	</div>
{% endblock %}
