.archiveList-inner {
	@include l-container('content-1');
}

.archiveList {
  background: $color-20;
  padding: 12rem 0;

  .listingItem:last-child {
    .listingItem-inner {
      margin-bottom: 0;
      padding-bottom: 0;

      &:after {
        display: none;
      }
    }
  }

  .listingItem-inner {
    margin-bottom: 8rem;
    padding-bottom: 8rem;
    position: relative;


    &:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
			width: 100%;
      height: 1px;
      background: rgba($color-7, .15);
    }
  }

  // .listItem-imageContainer {
  //   max-width: 557px;
  //   flex-basis: 42%;
  //   width: auto;
  // }

  // .listingItem-info {
  //   flex-basis: 50%;
  // }
}

// Paged pages
body.paged {
  .listingItem-featured {
    display: none;
  }
}
