// Search form
.archiveSearch {
	position: relative;

	&::before {
		@include page-tear-leather();
	}

}

.archiveSearch-inner {
	@include l-container('content-1');
	padding-bottom: 10rem;
	padding-top: 7rem;
}

.archiveSearch-form {
	// display: flex;
	// align-items: center;
	position: relative;
	background-color: $invert;
	border: 1px solid $color-20;
	padding: 1rem calc(2rem + 22px) 1rem 1rem;
}

.archiveSearch-label {
	position: absolute;
	left: 0;
	bottom: calc(100% + 2rem);
	font-family: $sans-2;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.6rem;
}

.archiveSearch-input {
	display: block;
	width: 100%;
	appearance: none;
	border: none;
	background: transparent;
	border-radius: 0;
	font-size: 2rem;
}

.archiveSearch-submit {
	display: block;
	width: 22px;
	height: 21px;
	appearance: none;
	border: none;
	background: transparent;
	border-radius: 0;
	text-indent: -9999px;
	// overflow: hidden;
	position: relative;
	cursor: pointer;
	position: absolute;
	right: 1rem;
	top: calc(50% - 10px);

  &:hover {
    .archiveSearch-submitIcon {
      transform: scale3d(1.33, 1.33, 1.33);
    }
  }
}

.archiveSearch-submitIcon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	transform: scale3d(1, 1, 1);
  transform-origin: center;
  transition: transform 125ms $bounce-2;

	svg {
		display: block;
	}

	path {
		fill: $color-2;
	}
}

.archiveSearch-results {
	color: $color-6;
	font-family: $sans-2;
	font-size: 3rem;
	margin-top: 3rem;

	em {
		color: $color-1;
	}

}



// Listings (the loop)
.archiveList-inner {
	@include l-container('content-1');
}

.archiveList {
  background: $color-20;
	padding: 12rem 0;
	position: relative;

	&::before {
		@include page-tear-gray();
	}

	.listingItem {

		.listingItem-inner {
			position: relative;
		}

		+ .listingItem .listingItem-inner {
			margin-top: 8rem;
			padding-top: 8rem;

			&:after {
				content: "";
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 0;
				width: 100%;
				height: 1px;
				background: rgba($color-7, .15);
			}

		}

	}

}

// Paged pages should hide the featured item
body.paged {
  .listingItem-featured {
    display: none;
  }
}



@mixin l-archiveTableRow(){
	display: grid;
	grid-template-columns: 19fr 58fr 23fr;
	padding: 2.7rem 2.5rem;

	@media screen and ( max-width: 600px ) {
		display: flex;
		flex-direction: column;
		padding: 0 2.5rem;
	}
}

@mixin l-archiveTableCol(){
	padding: 0 2.5rem;
}

.archiveTable {
	background-color: $invert;
	font-family: $sans-2;
	font-size: 2.8rem;

	@media screen and ( max-width: 1160px ) {
    font-size: 2.2rem;
	}
}

.archiveTable-inner {
	@include l-container('content-2');
	padding-bottom: 10rem;
	padding-top: 7rem;
}

.archiveTable-fauxTableHeader {
	@include l-archiveTableRow();
	background-color: $color-1;
	color: $invert;

	@media screen and ( max-width: 600px ) {
    display: none;
	}
}

// The row is an <a>
.archiveTable-fauxTableRow {
	@include l-archiveTableRow();
	color: $color-1;

	@media screen and ( max-width: 600px ) {
		order: 1;
	}

	+ .archiveTable-fauxTableRow {
		@media screen and ( max-width: 600px ) {
			margin-top: 5rem;
		}
	}

	&:hover {
		background-color: $hover;
		color: $invert;
		text-decoration: none;

		@media screen and ( max-width: 600px ) {
			background-color: transparent;
			color: $hover;
			text-decoration: underline;
		}

	}

}

.archiveTable-fauxTableCol {
	@include l-archiveTableCol();
}

.archiveTable-fauxTableCol-date {
	@media screen and ( max-width: 600px ) {
		order: 1;
		opacity: .7;
	}
}

.archiveTable-fauxTableCol-title {
	@media screen and ( max-width: 600px ) {
		order: 3;
		font-size: 2.8rem;
	}
}

.archiveTable-fauxTableCol-topic {
	@media screen and ( max-width: 600px ) {
		order: 2;
		opacity: .7;
	}
}

.archiveTable-sorting {
	color: inherit;
	padding-right: 2.2rem;
	position: relative;
	white-space: nowrap;

	&:hover {
		color: lighten($color-22, 12%);
		text-decoration: none;
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		top: calc(50% - .8rem);
		display: block;
		height: 0;
		width: 0;
		border-left: .8rem solid transparent;
		border-right: .8rem solid transparent;
		border-top: 1.6rem solid $color-3;
	}

	&.archiveTable-sorting-DESC::before {
		border-bottom: 1.6rem solid $color-3;
		border-top: none;
	}
}

// .archiveTable-sortingIcon {
// 	display: inline-block;
// 	height: 0;
// 	width: 0;
// 	border-left: .8rem solid transparent;
// 	border-right: .8rem solid transparent;
// 	border-top: 1.6rem solid red;
// }
