:root {
  --header-height: 228px;
}

html,
body {
    overflow-x: hidden;
}

html {
    font-size: $base-font-size;
}

body {
    color: $text;
    font-family: $sans;
    font-size: $body-font-size;
    line-height: 1.4;
    position: relative; // This make iOS Safari respect the overflow-x property.
}

a {
    color: $link;
    text-decoration: none;
    transition: color 100ms linear;

    &:hover {
        color: $hover;
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $sans-2;
    font-weight: bold;
    margin-bottom: 1rem;
}

h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4.8rem;
    line-height: .85;
    text-transform: uppercase;
}
h3 {
    font-size: 4rem;
}
h4 {
    font-size: 2.4rem;
}
h5 {
    font-size: 2rem;
}
h6 {
    font-size: 1.6rem;
}

p,
ul,
ol {
    // margin-bottom: 1.4em;
}

p {}

ul {}
ol {}

blockquote {}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

img {
    image-rendering: -webkit-optimize-contrast;
}
