$border-line: rgba(255, 255, 255, .075);

#footer {
  background-color: $color-1;
  color: transparentize($invert, .5);
  padding-top: 2.5rem;
  position: relative;
  overflow: hidden;
}

.footer-inner {
  @include l-container('footer');
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr .75fr .75fr;
  grid-auto-rows: minmax(78px,auto);
  // grid-gap: 3.5rem;
  grid-template-areas:
    "branding info contact"
    "copyright empty-1 social";

  @media screen and ( max-width: 1100px ) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "branding info"
      "contact contact"
      "social social"
      "copyright copyright";
  }

  @media screen and ( max-width: 720px ) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "branding"
      "info"
      "contact"
      "social"
      "copyright";
  }

  @media screen and ( max-width: 568px ) {
    // grid-template-columns: 1fr 3fr;
  }

}

$footer-grid-padding: 5.5rem;//1.7rem;

.footer-gridItem {
  // border: 1px solid $border-line;
  padding-top: $footer-grid-padding;
  padding-bottom: $footer-grid-padding;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  line-height: 1.8;
  font-size: 1.33rem;
  letter-spacing: -.01em;
}



.footer-heading {
  color: $invert;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1;
  letter-spacing: .025em;
  position: relative;
  padding-bottom: 2.5rem;
  margin-bottom: 2.2rem;

  &::after {
    background: transparentize( $invert, .6 );
    content: '';
    height: 1px;
    width: 40px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}



.footer-logoLink {
  // grid-area: logo;
  height: fit-content;
  margin-right: 2.7rem;
  position: relative;
  width: 7.5rem;
  min-width: 7.5rem;
  height: 7.5rem;
  display: block;

  @media screen and ( max-width: 360px ) {
    padding-right: 24px;
  }

  &:hover {

    .footer-logo {
      transform: scale3d(1.33, 1.33, 1.33);
    }

  }

}

.footer-logo {
  display: block;
  height: auto;
  max-width: 100%;
  transform: scale3d(1, 1, 1);
  transform-origin: center center;
  transition: transform 125ms $bounce-2;
}

.footer-branding {
  grid-area: branding;
  display: flex;
  position: relative;

  &::after {
    content: '';
    width: 1px;
    height: calc(100% + 2.5rem);
    background-color: $border-line;
    display: block;
    position: absolute;
    right: 0;
    top: -2.5rem;
  }

}

.footer-brandingText {

}



.footer-info {
  grid-area: info;
  position: relative;

}

.footer-address {
  font-size: 1.4rem;
}



.footer-contact {
  grid-area: contact;
  position: relative;

  // Faux border-top
  &::before{
    content: '';
    display: block;
    height: 1px;
    width: 100vw;
    background-color: $border-line;
    position: absolute;
    left: calc(-#{$padding-footer-desktop});
    top: 0;
    opacity: 0;
    pointer-events: none;

    @media screen and ( max-width: 1100px ) {
      opacity: 1;
    }

    @media screen and ( max-width: 960px ) {
  		left: calc(-#{$container-padding-tablet});
  	}

  	@media screen and ( max-width: 700px ) {
  		left: calc(-#{$container-padding-mobile});
    }

  }

  // Faux border-left
  &::after {
    content: '';
    width: 1px;
    height: calc(100% + 2.5rem);
    background-color: $border-line;
    display: block;
    position: absolute;
    left: 0;
    top: -2.5rem;

    @media screen and ( max-width: 1100px ) {
      height: 100%;
      top: 0;
    }

  }

  // Override some gravity form styles for the form that appears within the footer.
  .gform_wrapper {
    margin-top: 5rem;
  }

	.gform_heading,
	.gfield_label {
		display: none;
	}

	.gform_form {

	}

	.gform_fields {
		align-items: baseline;
		display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .ginput_container_text input,
  .ginput_container_email input {
    opacity: .5;
		padding-bottom: 1.2rem;
		color: $invert;
		border-bottom: 1px solid $invert;
		width: 100%;

		&::placeholder {
			color: $invert;
		}
  }

	.gform_submitButton {
    position: relative;
    margin-top: 1.8rem;
		opacity: .5;
		// border-radius: 0;
    height: auto;
    width: auto;
    border: 1px solid transparentize($invert, .66);
    padding: 1rem;

		path {
			fill: $invert;
		}
	}

	.gform_button-submitIcon {

	}

	.gfield-consent,
	.gfield-checkbox {
		grid-area: span 1 / span 2;
	}

}



.footer-siteDescription {

}

.footer-socialItems {
  display: flex;
  justify-content: flex-end;
  grid-area: social;
  padding: 0;
  position: relative;

  // Faux border-top
  &::before{
    content: '';
    display: block;
    height: 1px;
    width: 100vw;
    background-color: $border-line;
    position: absolute;
    left: calc(-#{$padding-footer-desktop});
    top: 0;
    opacity: 0;
    pointer-events: none;

    @media screen and ( max-width: 1100px ) {
      opacity: 1;
    }

    @media screen and ( max-width: 960px ) {
  		left: calc(-#{$container-padding-tablet});
  	}

  	@media screen and ( max-width: 700px ) {
  		left: calc(-#{$container-padding-mobile});
    }

  }

}

.footer-socialItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    position: relative;
    width: 100%;

    &::before,
    &::after {
      content: '';
      width: 1px;
      background-color: $border-line;
      display: block;
      position: absolute;
      pointer-events: none;
      height: 100%;//calc(100% + (1.7rem * 2) );

      @media screen and ( max-width: 768px ) {
        height: 100%;
      }

    }

    &::before {
      left: 0;
    }

    &::after {
      opacity: 0;
      right: 0;
    }

    &:last-child::after {
      opacity: 1;
    }

}

.footer-socialLink {
  display: inline-block;
  padding: 1rem;
  position: relative;

  &::before {
    background-color: transparent;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: background-color 125ms;
    pointer-events: none;
    transform: rotate(45deg);
  }

}

.footer-socialItem-twitter {
  .footer-socialLink:hover::before {
    background-color: $twitter;
  }
}

.footer-socialItem-facebook {
  .footer-socialLink:hover::before {
    background-color: $facebook;
  }
}

.footer-socialItem-instagram {
  .footer-socialLink:hover::before {
    background-color: $instagram;
  }
}

.footer-socialIcon {
  display: block;
  position: relative;

  path {
    fill: $invert;
  }
}

  .footer-socialIcon-twitter {
    height: 14px;
    width: 17px;
  }

  .footer-socialIcon-facebook {
    height: 16px;
    width: 16px;
  }

  .footer-socialIcon-instagram{
    height: 16px;
    width: 17px;
  }



.footer-copyright {
  grid-area: copyright;
  font-size: 1.1rem;
  color: $invert;
  position: relative;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before{
    content: '';
    display: block;
    height: 1px;
    width: 100vw;
    background-color: $border-line;
    position: absolute;
    left: calc(-#{$padding-footer-max} - ((100vw - #{$design-width}) / 2) );
    top: 0;

    @media screen and ( max-width: $design-width ) {
      left: calc(-#{$padding-footer-max});
    }

    @media screen and ( max-width: $breakpoint-desktop ) {
      left: calc(-#{$padding-footer-desktop});

    }

    @media screen and ( max-width: 960px ) {
  		left: calc(-#{$container-padding-tablet});
  	}

  	@media screen and ( max-width: 700px ) {
  		left: calc(-#{$container-padding-mobile});
    }

  }

  &::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: $border-line;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  @media screen and ( max-width: 768px ) {
    position: relative;
    z-index: 1;
  }

}
