#footer {
  background-color: $color-1;
  color: transparentize($invert, .5);
  padding-top: 5.5rem;
  padding-bottom: 3.5rem;
  position: relative;
}

.footer-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-areas: 
}

.footer-heading {
  color: $color-4;
  text-transform: uppercase;
  font-size: 2.4rem;
}

.footer-branding {
  display: grid;
  grid-template-columns: 92px 1fr;
  grid-gap: 3.5rem;
}

.footer-siteDescription {
  line-height: 1.75;
}

.footer-socialLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer-socialItem {
  flex-basis: 33.3%;
}

.footer-socialLink {
  display: inline-block;
}

.footer-socialIcon {
  display: block;

  path {
    fill: $invert;
  }
}

  .footer-socialIcon-twitter {
    height: 14px;
    width: 17px;
  }

  .footer-socialIcon-facebook {
    height: 16px;
    width: 16px;
  }

  .footer-socialIcon-instagram{
    height: 16px;
    width: 17px;
  }

.footer-copyright {
  font-size: 1.1rem;
  color: $invert;
  margin-top: 4.8rem;
  padding-left: calc(92px + 3.5rem);
}
