.gform_form {

}

// All the various plain text inputs
.ginput_container_text,
.ginput_container_email,
.ginput_container_number,
.ginput_container_name,
.ginput_container_date,
.ginput_container_time,
.ginput_container_phone,
.ginput_container_address,
.ginput_list {
	input {
		@include form-text();

		&::placeholder {
			// color: $invert;
			color: $color-23;
			font-size: 1.4rem;
			font-family: $sans-2;
			text-transform: uppercase;
		}

	}
}

// Gravity forms adds a prefix like ginput_ or gfield_ on all their classes...
// except textarea...
// ¯\_(ツ)_/¯
.textarea {
	@include form-textarea();
}

.gfield_select:not([multiple]) {
	@include form-select();
}

.gfield_select[multiple] {
	@include form-textarea();
}

.gfield_label {
	@include form-label();
}

.gform_button {
	@include form-submit();
}

.gform_button-submitIcon {

}



.ginput_container_consent,
.ginput_container_checkbox {

	label {
		@include form-checkboxLabel();
	}

	input[type=checkbox] {
		@include form-checkbox();

		&:checked + label {
			@include form-checkboxLabel-checked();
		}

	}

}



.ginput_container_radio {

	label {
		@include form-radioLabel();
	}

	input[type=radio] {
		@include form-radio();

		&:checked + label {
			@include form-radioLabel-checked();
		}

	}

}



// The <ul> element
.gfield_checkbox,
.gfield_radio {
	list-style-type: none;
}



.gform_next_button {
	@include form-button();
}

.gform_previous_button {
	@include form-button();
}



.gf_progressbar_wrapper {
	margin-top: 4rem;
}

.gf_progressbar {
	border: 1px solid $color-7;
}

.gf_progressbar_percentage {
	background-color: $color-2;
	color: $invert;
	padding: 1rem;
	text-align: right;
}

.gf_progressbar_title,
.entry-content .gf_progressbar_title {
	margin-bottom: 1rem;
}



.gfield + .gfield,
.gform_page_footer {
	margin-top: 4rem;
}

.gsection {
	border-top: 1px solid $color-23;
	padding-top: 3rem;
}

// "Complex" sections are field groups, like Name or Address, that have multiple fields to display in flex/grid.
.gfield_label_before_complex {
	margin-bottom: .25em;
}

.ginput_complex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	label {
    font-size: .875em;
	}

	span {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
	}

	.ginput_full {
		flex-basis: 100%;
	}

	.ginput_left,
	.ginput_right,
	.name_first,
	.name_last {
		flex-basis: calc(50% - 2rem);
	}
}

.gf_clear_complex {
	display: none;
}


// .ginput_container_address {
// 	justify-content: space-between;
// }

.clear-multi {
	display: flex;
	align-items: center;

	.ginput_container {
		margin-right: 2rem;
	}
}

.address_country {
	select {
		@include form-select();
	}
}

.ginput_container_time {

	select {
		@include form-select();
	}

	label {
		font-style: italic;
	}

}



.screen-reader-text {
	display: block;
	font-size: .875em;
	font-style: italic;
}



.ginput_list {
	input[type="text"] {
		width: 90%;
	}

	.gfield_list_icons img {
		margin-bottom: 0;
	}

}

.add_list_item {
	display: block;
	height: 16px;
	margin-top: 3px;
}



.gform_page_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.gform_submitButton {
	@include button();

	path {
		fill: $link;
	}

	&:hover {
		path {
			fill: $invert;
		}

	}
}



// Honeypot field
.gform_validation_container {
	bottom: 0;
	height: 1px;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	right: 0;
	width: 1px;
}



.gform_ajax_spinner {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}
