#header {
  height: var( --header-height, auto );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

#header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11.6rem;
}



.header-logo {
    display: block;


    // svg {
    //     display: block;
    //     height: auto;
    //     width: 100%;
    // }
    //
    // path {
    //     fill: $invert;
    //     transition: fill 100ms linear;
    // }
    //
    // &:hover {
    //     path {
    //         fill: $hover;
    //     }
    // }

}
