#header {
  height: auto;
  left: 0;
  opacity: 0;
  overflow: visible;
  padding-top: 12px; // account for the height + top of the blue/white/red stripe in the ::before element.
  position: absolute;//fixed;
  top: 0;
  transform: translate3d(0, -20px, 0);
  transition: transform 300ms ease-in, opacity 300ms ease-in;
  width: 100%;
  z-index: 10;

  &::before {
    background-color: $color-2;
    border-bottom: 3px solid $color-4;
    border-top: 3px solid $color-8;
    content: '';
    display: block;
    height: 8px; // The height of 8px, along with the two 3px/3px top/bottom borders, will make the background color come through as a 2px tall middle stripe.
    left: 0;
    position: absolute;
    top: 4px;
    width: 100%;
    z-index: 1;
  }
}

  html.wf-active,
  html.wf-inactive {
    #header {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

#header-inner {
  @include l-container('header');
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 10.2rem;//10.7rem;
  position: relative;

  &::before,
  &::after {
    background-color: $border-line;
    content: '';
    display: block;
    height: 1px;
    width: 100vw;
    position: absolute;
    left: calc(-1 * (100vw - #{$design-width}) / 2);

    @media screen and ( max-width: $design-width ) {
      left: 0;
    }

  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media screen and ( max-width: 760px ) {
    margin-top: 5.9rem;
  }

}



.header-logoLink {
  display: flex;
  align-items: center;
  min-width: 174px;
  position: relative;

  @media screen and ( max-width: 1280px ) {
    min-width: 115px;
  }

  @media screen and ( max-width: 400px ) {
    min-width: 90px;
  }

  &::before,
  &::after {
    content: '';
    background-color: $border-line;
    height: 100%;
    height: calc(var(--header-height) - 12px); // The height of the header, minus the height of the blue/white/red stripes border on #header::before (12px).
    width: 1px;
    position: absolute;
    bottom: 0;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &:hover {

    .header-logo {
      transform: scale3d(1.33, 1.33, 1.33);
    }

  }

}

.header-logo {
  display: block;
  width: 115px;
  position: absolute;
  left: calc(50% - (115px / 2));
  bottom: 1rem;
  transform: scale3d(1, 1, 1);
  transform-origin: center;
  transition: transform 125ms $bounce-2;

  @media screen and ( max-width: 1280px ) {
    left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(80px + 4rem);
    position: relative;
  }

  @media screen and ( max-width: $breakpoint-nav-collapse ) {
    bottom: 3rem;
    width: 100%;
  }

  path {
    fill: $invert;
  }

}



.header-searchIcon {
	transition: transform 150ms $bounce-2;
	transform-origin: center;
	transform: scale3d(1, 1, 1);
}

.header-searchLink {
	align-items: center;
	appearance: none;
	background: transparent;
	border-radius: 0;
	border: none;
	cursor: pointer;
	display: flex;
	height: 100%;
	justify-content: center;
	position: absolute;
	right: calc(100% - #{$padding-header-max});
	width: $padding-header-max;

	@media screen and ( max-width: $breakpoint-desktop ) {
		right: calc(100% - #{$padding-header-desktop});
		width: $padding-header-desktop;
	}

	@media screen and ( max-width: 960px ) {
		right: calc(100% - #{$container-padding-tablet});
		width: $container-padding-tablet;
	}

	@media screen and ( max-width: 700px ) {
		display: none;
	}

	&:hover {
		.header-searchIcon {
			transform: scale3d(1.5, 1.5, 1.5);
		}
	}

}



.header-searchContainer {
	background-color: $color-2;
	left: 0;
	opacity: 0;
	padding-bottom: 3rem;
	padding-top: 3rem;
	pointer-events: none;
	position: absolute;
	top: 100%;
	transform: translate3d(0, -15px, 0);
	transition: transform 125ms, opacity 125ms;
	width: 100vw;

	&.is-active {
		pointer-events: initial;
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}

	@media screen and ( max-width: 700px ) {
		display: none;
	}
}

.header-searchContainerInner {
  @include l-container('header');
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

.header-searchForm {
	width: 100%;
}

.header-searchS {
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	color: $invert;
	font-family: $sans-2;
	font-size: 2.4rem;
	padding-right: 3rem;
	width: 100%;

	&::placeholder {
		color: $invert;
	}
}

.header-searchClose {
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	cursor: pointer;
}

.header-searchCloseX {
	color: $invert;
	font-weight: 100;
	font-size: 3rem;
	font-family: sans-serif;
	line-height: 0;
}
