#header {
  height: auto;
  left: 0;
  opacity: 0;
  overflow: visible;
  padding-top: 11px; // account for the height + top of the blue/white/red lines in the ::before element.
  position: absolute;//fixed;
  top: 0;
  transform: translate3d(0, -20px, 0);
  transition: transform 300ms ease-in, opacity 300ms ease-in;
  width: 100%;
  z-index: 10;

  &::before {
    background-color: $color-2;
    border-bottom: 2px solid $color-4;
    border-top: 3px solid $color-8;
    content: '';
    display: block;
    height: 7px; // The height of 7px, along with the 3px/2px top/bottom borders, will make the background color come through as a 2px tall middle stripe.
    left: 0;
    position: absolute;
    top: 4px;
    width: 100%;
    z-index: 1;
  }
}

  html.wf-active,
  html.wf-inactive {
    #header {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

#header-inner {
  @include l-container('header');
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 10.2rem;//10.7rem;
  position: relative;

  &::before,
  &::after {
    background-color: $border-line;
    content: '';
    display: block;
    height: 1px;
    width: 100vw;
    position: absolute;
    left: calc(-1 * (100vw - #{$design-width}) / 2);

    @media screen and ( max-width: $design-width ) {
      left: 0;//-$container-padding;
    }

    @media screen and ( max-width: 960px ) {
      left: 0;//-$container-padding-tablet;
    }

    @media screen and ( max-width: 700px ) {
      left: 0;//-$container-padding-mobile;
    }

  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media screen and ( max-width: 760px ) {
    margin-top: 0;
  }

}



.header-logoLink {
  display: flex;
  align-items: center;
  min-width: 174px;
  position: relative;

  @media screen and ( max-width: 1280px ) {
    min-width: 0;
  }

  &::before,
  &::after {
    content: '';
    background-color: $border-line;
    height: 100%;
    height: calc(var(--header-height) - 11px); // The height of the header, minus the height of the blue/white/red border on #header::before (11px).
    width: 1px;
    position: absolute;
    bottom: 0;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &:hover {

    .header-logo {
      transform: scale3d(1.33, 1.33, 1.33);
    }

  }

}

.header-logo {
  display: block;
  width: 115px;
  position: absolute;
  left: calc(50% - (115px / 2));
  bottom: 1rem;
  transform: scale3d(1, 1, 1);
  transform-origin: center;
  transition: transform 125ms $bounce-2;

  @media screen and ( max-width: 1280px ) {
    left: calc(50% - (80px / 2));
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(80px + 4rem);
    position: static;
  }

  path {
    fill: $invert;
  }

}
