// Grid Section
.postGrid-home {
  padding-bottom: 15rem;
	padding-top: 15rem;

  .postGrid-grid {
    grid-template-areas:
			"bigLink bigLink otherLink1 otherLink2"
			"otherLink3 otherLink4 form form";

		@media screen and ( max-width: $breakpoint-homePageModules-wrap ) {
			grid-template-areas: initial;
		}
  }

  .postGrid-inner {
    @media screen and ( max-width: 1575px ) {
      @include l-container('header');
    }
  }

}

.postGridItem-home {
	grid-area: auto;
  position: relative;

  &:first-child {
    grid-area: bigLink;

		@media screen and ( max-width: $breakpoint-homePageModules-wrap ) {
			grid-area: auto;
		}
  }

  &.formCard {
    grid-area: form;

		@media screen and ( max-width: $breakpoint-homePageModules-wrap ) {
			grid-area: auto;
		}
  }

}
