.homeStatistics {
  background-image: url('../../images/bg-lines.png');
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: center top -50px;
  padding: 20rem 0 15rem;
	position: relative;

	.stats-inner {
		padding: 0;
	}

}

.homeStatistics-inner {
  @include l-container('content-2');
  display: flex;
  justify-content: space-between;

  @media screen and ( max-width: 1575px ) {
    @include l-container('header');
  }

  @media screen and ( max-width: $breakpoint-homePageModules-wrap ) {
    flex-wrap: wrap;
  }
}

.homeStatistics-contentGroup {
  flex-basis: 30%;

  @media screen and ( max-width: $breakpoint-homePageModules-wrap ) {
    flex-basis: 100%;
  }
}

.homeStatistics-statsContainer {
  flex-basis: 60%;

  @media screen and ( max-width: $breakpoint-homePageModules-wrap ) {
    flex-basis: 100%;
    margin-top: 2rem;
  }
}
