.home-statistics {
  background: url('../../images/bg-home-statistics.png');
  padding: 20rem 0 15rem;
  // margin-top: -7rem; // negative margins mess up the scrollspy
  position: relative;

  .contentGroup-cta {
    &:hover span,
    span {
      color: $color-3;
    }
  }

  .home-content-row {
    justify-content: space-between;
  }

  .home-content-column {
    &:first-child {
      flex-basis: 30%;
    }
    &:last-child {
      flex-basis: 60%;
    }
  }
}
