.home-quote {
  padding: 15rem 0;
  position: relative;
  z-index: 0;

	&::before {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
		height: 49px;
		background-repeat: repeat-x;
		background-image: url('../../images/border-page-tear-1.png');
		display: block;
	}

  .home-content-row {
    justify-content: space-between;
  }

  .home-content-column:first-child {
    flex-basis: 35%;
  }

  .home-content-column:last-child {
    flex-basis: 56%;
  }

  .contentGroup {
    max-width: 410px;
  }
}

.homeQuote-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homeQuote-column-image {
  flex-basis: 20%
}

.homeQuote-column-text {
  flex-basis: 76%;
  max-width: 450px;
}

.homeQuote-icon {
  font-family: $sans-2;
  display: block;
  color: $color-3;
  font-size: 13.8rem;
  line-height: .2;
}

.homeQuote-quoteText {
  font-family: $sans-2;
  font-size: 3.56rem;
  line-height: 1.3;
  color: black;
}

.homeQuote-author {
  font-family: $sans-2;
  font-size: 1.6rem;
  color: $color-3;
  margin-top: 2rem;
  line-height: 1;
}

.homeQuote-location {
  font-family: $sans-2;
  font-size: 1.6rem;
  color: #8E8E8E;
  line-height: 1;
}
