.homeImage {
  padding: 15rem 0;
  background-image: url('../../images/bg-map-dmv.jpg');
  background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  position: relative;

	.homeImageBg {		
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		/*background-color: $color-4;*/
    opacity: .75;

    @supports (mix-blend-mode: hard-light){
      opacity: 1;
      mix-blend-mode: hard-light;
		}

  }

  .contentGroup-inner {
    max-width: 400px;

    @media screen and ( max-width: $breakpoint-homePageModules-wrap ) {
      max-width: inherit;
    }
  }

  .contentGroup-heading,
  .contentGroup-cta span,
  .contentGroup-cta span:hover,
  .contentGroup-description {
    color: $invert;
  }

  .contentGroup-heading:before {
    background: $invert;
  }

  .contentGroup-cta {
    border-color: $invert;
    color: $invert;
  }

  .contentGroup-headingOutline {
    -webkit-text-stroke: 1.5px $invert;
  }

}

.homeImage-inner {
  @include l-container('content-2');
  display: flex;
  position: relative;

  @media screen and ( max-width: 1575px ) {
    @include l-container('header');
  }

  @media screen and ( max-width: $breakpoint-homePageModules-wrap ) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.homeImage-imageContainer {
  text-align: center;
  flex-basis: 60%;

  @media screen and ( max-width: $breakpoint-homePageModules-wrap ) {
    flex-basis: 100%;
  }
}

.homeImage-img {
  max-width: 100%;
  width: 462px;
  margin: 0 auto;
  height: auto;
  display: block;

  @media screen and ( max-width: 1100px ) {
    max-width: 400px;
  }

  @media screen and ( max-width: 450px ) {
    max-width: 100%;
  }
}

.l-homePageModule {
  &.homeImage {
    margin-top: -70px;
  }
}