.home-image {
  padding: 15rem 0;
  background: url(../../images/bg-home-image.jpg);
  background-size: cover;
  background-position: center;

  .contentGroup .l-container {
    padding: 0 12.6rem;
  }

  .contentGroup-heading,
  .contentGroup-cta span,
  .contentGroup-cta span:hover,
  .contentGroup-description {
    color: white;
  }

  .contentGroup-heading:before {
    background: white;
  }

  .contentGroup-cta {
    border-color: white;

    span {
      max-width: 50px;
    }
  }

  .contentGroup-headingOutline {
    -webkit-text-stroke: 1.5px white;
  }

  .home-content-column {
    flex-basis: 48%;

    &:first-child {
      text-align: center;
    }

    img {
      max-width: 100%;
      width: 462px;
      margin: 0 auto;
    }
  }
}