// Layout styles
// These are the few reusable classes to use that accomplish the layout of the page, mostly to keep a common max-width and margins.



.l-container {
	@include l-container();
}



.l-content {
	min-height: 66vh;
	padding-top: $l-module-spacing;
	padding-bottom: $l-module-spacing;
}



.l-module {
	margin-top: $l-module-spacing;

	// + .l-module {
	// 	margin-top: $l-module-spacing;
	// }

}



.l-has-no-background {

	+ .l-has-no-background {
		// padding-top: $l-module-spacing;
	}

	+ .l-has-background {
		// margin-top: $l-module-spacing;
	}

}

.l-has-background {

	+ .l-has-no-background {

	}

	+ .l-has-background {

	}

}
