// Mixins that can be used globally go here.
// This file should not output anything, just include it as a library in other files - so do not add regular CSS rules here.



// Import other mixins.
@import 'mixins-layout';
@import 'mixins-forms';
@import 'mixins-cards';
@import 'mixins-quotes';



// This is useful for the <html> and <body> elements when any sort of modal is open. Like when the mobile nav is open and you only want to be able to scroll within the nav.
@mixin modal-is-open(){
    overflow: hidden;
}



@mixin button(){
  align-items: center;
  background-color: transparent;
	border-radius: 50%;
	border: 1px solid $link;
	color: $link;
	display: flex;
	font-family: $sans-2;
	font-size: 1.4rem;
	height: 10.4rem;
	justify-content: center;
	line-height: 1.2;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  text-align: center;
	text-transform: uppercase;
	transform-origin: center;
	transform: scale3d(1, 1, 1);
	transition: transform 125ms $bounce-2, background-color 125ms, color 125ms, border 125ms;
	width: 10.4rem;

	&:hover {
    color: $invert;
    background-color: $link;
		text-decoration: none;
		transform: scale3d(1.25, 1.25, 1.25);
	}
}



@mixin cta-circle() {
  font-family: $sans-2;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 100%;
  width: 104px;
  height: 104px;
  text-transform: uppercase;
  display: block;
  border: 2px solid $color-4;
  position: relative;
  margin-top: 5rem;
  transform: translate3d(0,0,0);
  transition: transform .5s $bounce;

  &:hover {
    transform: translate3d(0,-4%,0);
  }

  &:hover,
  &:active,
  &:focus {
    color: white;
  }

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    line-height: 1.1;
    letter-spacing: 1px;
    max-width: 68px;
    width: 100%;
  }
}


@mixin heading-section(){
    font-size: 6rem;
    text-transform: uppercase;

}

@mixin heading-sub(){
    font-size: 2.4rem;
}

