
@mixin form-label() {
	font-family: $sans-2;
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: uppercase;
}



@mixin form-text() {
	appearance: none;
	border: none;
	border-radius: 0;
	background-color: transparent;
	font-size: 1.6rem;
	color: $invert;
	border-bottom: 1px solid $invert;
}



@mixin form-submit() {
	appearance: none;
	border: none;
	border-radius: 0;
	background-color: transparent;
	font-size: 1.6rem;
	color: $invert;
	cursor: pointer;
	display: inline-block;
	transform: scale3d(1, 1, 1);
  transform-origin: center center;
	transition: transform 125ms $bounce-2, background-color 125ms;

	&:hover {
		background-color: $color-19;
		transform: scale3d(1.33, 1.33, 1.33);
	}

}



@mixin form-checkbox(){
	position: absolute;
	pointer-events: none;
	visibility: hidden;


}

@mixin form-checkboxLabel(){
	cursor: pointer;
	font-size: 1.6rem;
	font-family: $sans-2;
	text-transform: uppercase;

	&::before {
		background-image: url('../../images/icon-checkmark.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 0;
		border: 2px solid $color-2;
		content: '';
		display: inline-block;
		height: 2.5rem;
		margin-bottom: .2em;
		margin-right: .5em;
		width: 2.5rem;
    vertical-align: middle;
	}

}

@mixin form-checkboxLabel-checked(){

	&::before {
		background-size: calc(100% - 4px);
	}

}
