// Mixins that can be used globally go here.
// This file should not output anything, just include it as a library in other files - so do not add regular CSS rules here.



// Import other mixins.
@import 'mixins-layout';
@import 'mixins-forms';
@import 'mixins-cards';
@import 'mixins-quotes';



// This is useful for the <html> and <body> elements when any sort of modal is open. Like when the mobile nav is open and you only want to be able to scroll within the nav.
@mixin modal-is-open(){
    overflow: hidden;
}



@mixin button(){
  align-items: center;
  background-color: transparent;
	border-radius: 50%;
	border: 1px solid $link;
	color: $link;
	display: flex;
	font-family: $sans-2;
	font-size: 1.4rem;
	height: 10.4rem;
	justify-content: center;
	line-height: 1.2;
  padding: 1.5rem 1.5rem 1.25rem 1.5rem;
  text-align: center;
	text-transform: uppercase;
	transform-origin: center;
	transform: scale3d(1, 1, 1);
	transition: transform 125ms $bounce-2, background-color 125ms, color 125ms, border 125ms;
	width: 10.4rem;

	&:hover {
    color: $invert;
    background-color: $link;
		text-decoration: none;
		transform: scale3d(1.25, 1.25, 1.25);
	}
}



@mixin cta-circle() {
  font-family: $sans-2;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 100%;
  width: 104px;
  height: 104px;
  text-transform: uppercase;
  display: block;
  border: 2px solid $color-4;
  position: relative;
  margin-top: 5rem;
  transform: translate3d(0,0,0);
  transition: transform .5s $bounce;

  &:hover {
    transform: translate3d(0,-4%,0);
  }

  &:hover,
  &:active,
  &:focus {
    color: white;
  }

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    line-height: 1.1;
    letter-spacing: 1px;
    max-width: 68px;
    width: 100%;
  }
}


@mixin heading-section(){
    font-size: 6rem;
    text-transform: uppercase;

}

@mixin heading-sub(){
    font-size: 2.4rem;
}


@mixin image-clip() {
  flex-shrink: 0;
  position: relative;

  @media screen and ( max-width: 1600px ) {
    flex-shrink: .25;
  }

  @media screen and ( max-width: 1250px ) {
    flex-shrink: .5;
  }

  @media screen and ( max-width: 1100px ) {
    margin-bottom: 3rem;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    width: 65.86%;
    height: 73.74%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid transparentize($invert, 0.6);
    // transform: rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: center;
    z-index: 1;
  }

  &::before {
    left: calc(50% - 3rem);
  }

  &::after {
    left: calc(50% + 3rem);;
  }

  img {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}




// Include this page tear as a ::before or ::after element. Note that surrounding elements need padding to account for the height of the png.
@mixin page-tear-leather() {
	background-image: url('../../images/border-page-tear-1.png');
	background-repeat: repeat-x;
	bottom: calc(100% - 1px);
	content: '';
	display: block;
	height: 49px;
	left: 0;
	pointer-events: none;
	position: absolute;
	width: 100%;
	z-index: 1;
}

@mixin page-tear-gray() {
	background-image: url('../../images/border-page-tear-3.png');
	background-repeat: repeat-x;
	bottom: calc(100% - 1px);
	content: '';
	display: block;
	height: 87px;
	left: 0;
	pointer-events: none;
	position: absolute;
	width: 100%;
	z-index: 1;
}
