.menu-main-navigation-container { // nav

}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu-link {
  border-left: 1px solid $border-line;
  color: $invert;
  display: block;
  font-family: $sans-2;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: .05em;
  padding-left: 4.6rem;
  padding-right: 8rem;
  padding-top: 3.8rem;
  padding-bottom: 3.7rem;
  position: relative;
  text-transform: uppercase;
  transition: background-color 150ms;

  // &::before,
  // &::after {
  //   background-color: $link;
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   transition: background-color 150ms;
  // }

  &::before {
    background-color: transparent;
    border-left: 1px solid $border-line;
    content: '';
    display: block;
    position: absolute;
    transition: background-color 150ms;
    bottom: 100%;
    left: 0;
    height: 200px;
    // width: 200%;
    width: calc( (100vw - (#{$max-width} - #{$container-padding} - #{$container-padding}) ) / 2 + 100% );

    @media screen and ( max-width: $max-width ) {
      width: 200%;
    }
  }

  &:hover {
    color: $invert;
    background-color: $hover;

    &::before {
      background-color: $hover;
    }
  }

}

.menu-icon {
  display: block;
  height: 1rem;
  width: 1.7rem;
}

.menu-item {
  position: relative;
}

.menu-item:last-child {

  .menu-link {
    background-color: $link;
    border-left: none;

    &::before {
      background-color: $link;
      border-left: none;
      bottom: 100%;
      left: 0;
      height: 200px;
      // width: 200%;
      width: calc( (100vw - (#{$max-width} - #{$container-padding} - #{$container-padding}) ) / 2 + 100% );

      @media screen and ( max-width: $max-width ) {
        width: 200%;
      }
    }

    &::after {
      background-color: $link;
      content: '';
      display: block;
      position: absolute;
      transition: background-color 150ms;
      bottom: 0;
      left: 100%;
      height: 100%;
      width: calc( (100vw - (#{$max-width} - #{$container-padding} - #{$container-padding}) ) / 2 );//100%;

      @media screen and ( max-width: $max-width ) {
        width: 100%;
      }
    }

    &:hover {
      background-color: $hover;

      &::before,
      &::after {
        background-color: $hover;
      }
    }

  }

}

.menu-modal {
  background-color: #f0f;
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 200%;
  box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.4);
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transform: translate3d(0, -3rem, 0);
  transition: opacity 133ms, transform 200ms;

  &.is-active {
    pointer-events: auto;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

}
