// these styles should move elsewhere, maybe be reused as mixins, when we move beyond the temporary landing page.


.hero {
  &::after {
    content: '';
    background-image: url('../../images/border-page-tear-1.png');
    background-repeat: repeat-x;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 49px;
  }
}


.CTAs {
  padding-bottom: 8rem;
  padding-top: 8rem;
  position: relative;

  // Bad way of getting the center line between the cta columns. I need to change this to a better layout where the border will work.
  &::before {
    content: '';
    display: block;
    width: 1px;
    height: calc(100% - 16rem);
    position: absolute;
    top: 8rem;
    left: 50%;
    background-color: $color-6;
    opacity: .4;

    @media screen and ( max-width: 840px ) {
      display: none;
    }

  }
}

.CTAs-inner {
  display: flex;
  justify-content: space-between;

  @media screen and ( max-width: 840px ) {
    display: block;
  }

}

.cta {
  display: grid;
  flex-basis: calc(50% - 1.4rem);
  grid-gap: 2.4rem;
  grid-template-columns: 98px 1fr; // 98px is the width of the 72x72 icon square when it rotates by 45deg. Remember a^2 + b^2 = c^2
  padding: 0 1.5rem;

  @media screen and ( max-width: 440px ) {
    grid-template-columns: 50px 1fr;
    grid-gap: 1.6rem;
  }

  + .cta {
    @media screen and ( max-width: 840px ) {
      margin-top: 6rem;
    }
  }

}

.cta-side {
  display: flex;
  justify-content: center;
}

.cta-icon {
  display: flex;
  height: 72px;
  width: 72px;
  background-color: $color-3;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  transform-origin: center center;

  @media screen and ( max-width: 440px ) {
    width: 40px;
    height: 40px;
  }

  &::before {
    content: '';
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-45deg);
    transform-origin: center center;
  }

}

  .cta-icon-letter::before {
      background-image: url('../../images/icon-email.svg');
      width: 27px;
      height: 27px;

      @media screen and ( max-width: 440px ) {
        width: 19px;
        height: 19px;
      }
  }

  .cta-icon-heart-hand::before {
      background-image: url('../../images/icon-heart.svg');
      width: 31px;
      height: 31px;

      @media screen and ( max-width: 440px ) {
        width: 20px;
        height: 20px;
      }
  }

.cta-heading {
  color: $color-7;
  letter-spacing: .0175em;
  margin-bottom: .8rem;
  text-transform: uppercase;
}

.cta-description {
  line-height: 1.75;
}

.cta-buttonIcon {
  display: inline-block;
  height: 1rem;
  padding-left: .8rem;
  width: 2.6rem;
  // transform: translate3d(0, 0, 0);

  svg {
    display: block;
    width: 100%;
    height: auto;
  }

  path {
    fill: $link;
  }
}

.cta-button {
  appearance: none;
  border: none;
  background: none;
  color: $link;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: $sans-2;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 2.4rem;
  transform: scale3d(1, 1, 1);
  transform-origin: center;
  transition: transform 125ms cubic-bezier(.17, .67, .45, 2);

  &:hover {
    color: $hover;
    text-decoration: none;
    transform: scale3d(1.25, 1.25, 1.25);

    .cta-buttonIcon {
      // transform: translate3d(5px, 0, 0);
    }

    path {
      fill: $hover;
    }

  }

}
