// Grid Section
.postGrid-donate {
  padding-bottom: 15rem;
	padding-top: 15rem;

  .postGrid-grid {
    grid-template-areas:
			"bigLink1 bigLink1 bigLink2 bigLink2"
			"otherLink1 otherLink2 otherLink3 otherLink4";

		@media screen and ( max-width: 1150px ) {
			grid-template-areas: initial;
		}
  }

}

.postGridItem-donate {
	grid-area: auto;
  position: relative;

  &:first-child {
    grid-area: bigLink1;

		@media screen and ( max-width: 1150px ) {
			grid-area: auto;
		}
  }

  &:nth-child(2) {
    grid-area: bigLink2;

		@media screen and ( max-width: 1150px ) {
			grid-area: auto;
		}
  }

}
