.gridCard {
	@include card();
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 316px;
	position: relative;

	&:hover {

		.gridCard-iconContainer {
			transform: scale3d(1.15, 1.15, 1.15);
		}

		.gridCard-more {
			transform: scale3d(1.33, 1.33, 1.33);
		}

	}

}

.gridCard-iconContainer {
	justify-self: flex-start;
	margin-bottom: auto;
	position: relative;
	transform: scale3d(1, 1, 1);
  transform-origin: left center;
  transition: transform 125ms $bounce-2;
}

.gridCard-heading {
	@include card-heading();
}

.gridCard-excerpt {
	@include card-excerpt();
}

.gridCard-more {
	@include card-more();
}

#Capa_1 {
  width: 40px;
  height: 40px;
}