.gridCard {
	@include card();
	display: flex;
	flex-wrap: wrap;
	min-height: 316px;
	position: relative;
  align-content: flex-start;

	&:hover {

		.gridCard-iconContainer {
			transform: scale3d(1.15, 1.15, 1.15);
		}

		.gridCard-more {
			transform: scale3d(1.33, 1.33, 1.33);
		}

	}

}

.gridCard-iconContainer {
	width: 100%;
	position: relative;
	transform: scale3d(1, 1, 1);
  transform-origin: left center;
  transition: transform 125ms $bounce-2;
  height: 40px;

  svg {
		left: 0;
		height: inherit;
    position: absolute;
    top: 0;
  }
}

.gridCard-heading,
.gridCard-excerpt,
.gridCard-more {
  flex-basis: 100%;
}

.gridCard-heading {
	@include card-heading();
}

.gridCard-excerpt {
	@include card-excerpt();
  margin-bottom: 4rem;
}

.gridCard-more {
	@include card-more();
  position: absolute;
  bottom: 2rem;
}

#Capa_1 {
    width: 40px;
    height: 40px;
}
