{% block postGrid %}
<div class="{{ classes }}">
    <div class="postGrid-inner">

			{% if header_html %}
			<div class="postGrid-header">
				{{ header_html }}
			</div>
			{% endif %}

			{% if grid_items %}
			<div class="postGrid-grid">

				{% for grid_item in grid_items %}
				{{ grid_item }}
				{% endfor %}

			</div>
			{% endif %}

    </div>
</div>
{% endblock %}
