:root {
	--header-height: 85px; // approximate height of the header element, will be used by other areas in the code and updated by JS. See js/libs/taoti-globals.js
}



#header {

}

#header-inner {
	@include l-container('header-footer');
}



.header-logo {
	display: block;
	width: 8.5rem;

	svg {
		display: block;
		height: auto;
		width: 100%;
	}

	path {
		fill: $invert;
		transition: fill 100ms linear;
	}

	&:hover {
		path {
			fill: $hover;
		}
	}

}
