{% block cardColumns %}
<div class="{{ classes }}">
	<div class="cardColumns-inner">

		{% if primary_heading %}
		<h2 class="cardColumns-primaryHeading">{{ primary_heading }}</h2>
		{% endif %}

		<ul class="cardColumn-columns">
			{% for column in columns %}
			<li class="cardColumn-column">

				{{ column }}

			</li><!-- END .cardColumn-column -->
			{% endfor %}
		</ul>


	</div><!-- END .cardColumns-inner -->
</div><!-- END .cardColumns -->
{% endblock %}
