{% block cardColumns %}
<div class="{{ classes }}">
    <div class="cardColumns-inner">

    {% for column in columns %}
		<div class="cardColumn-column">

			{{ column }}

		</div><!-- END .cardColumn-column -->
		{% endfor %}

    </div><!-- END .cardColumns-inner -->
</div><!-- END .cardColumns -->
{% endblock %}
