.quote-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.quote-column-image {
  flex-basis: 20%
}

.quote-column-text {
  flex-basis: 76%;
  max-width: 450px;
}

.quotoe-icon {
  font-family: $sans-2;
  display: block;
  color: $color-3;
  font-size: 13.8rem;
  line-height: .2;
}

.quote-quoteText {
  font-family: $sans-2;
  font-size: 3.56rem;
  line-height: 1.3;
  color: black;
}

.quote-author {
  font-family: $sans-2;
  font-size: 1.6rem;
  color: $color-3; 
  margin-top: 2rem;
  line-height: 1; 
}

.quote-location {
  font-family: $sans-2;
  font-size: 1.6rem;
  color: #8E8E8E;
  line-height: 1;  
}