// The sectionNavigation (pager) element is visible on page load, so load this file as critical css.

.sectionNavigation {
  left: 2%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  @media screen and ( max-width: 960px ) {
    left: .7rem;
  }

  @media screen and ( max-width: 700px ) {
    display: none;
  }
}

.scrollspy-navItem {
  color: $invert;
  cursor: pointer;
  font-family: $sans-2;
	font-size: 1.8rem;
	// opacity: 1;
  padding-bottom: 2.4rem;
  padding-left: 25px;
  position: relative;
	transition: color 200ms, transform 125ms $bounce-2;
	transform: scale3d(1, 1, 1);
  transform-origin: center;

  @media screen and ( max-width: 960px ) {
    font-size: 1.4rem;
	}

	&:hover {
		// opacity: .8;
		text-decoration: underline;
	}

  &:before {
    border: 1px solid $invert;
    content: "";
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    top: calc(50% - 13px);
    transform: rotate(45deg) translateY(-50%);
    transition: background-color 125ms, border-color 125ms;
    width: 10px;
  }

  &.active {
		transform: scale3d(1.33, 1.33, 1.33);
    &:before {
      background: $invert;
    }
  }

  &.scrollspy-light {
    color: $color-4;

    &:before {
      border: 1px solid $color-4;
    }

    &.active {
      &:before {
        background: $color-4;
      }
    }

  }

  // &.scrollspy-dark {
  //   color: $invert;

  //   &:before {
  //     border: 1px solid $invert;
  //   }

  //   &.active {
  //     &:before {
  //       // border: none;
  //       background: $invert;
  //     }
  //   }

  // }

}
