.sectionNavigation {
  position: fixed;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  li {
    font-family: $sans-2;
    font-size: 1.8rem;
    padding-left: 25px;
    padding-bottom: 2.4rem;
    position: relative;
    color: white;

    &:before {
      content: "";
      display: block;
      top: calc(50% - 13px);
      position: absolute;
      left: 0;
      width: 10px;
      height: 10px;
      border: 1px solid white;
      transform: rotate(45deg) translateY(-50%);
    }
  }
}