{% block postColumns %}
{% if columns %}
<div class="{{ classes }}">
	<div class="l-inner postColumns-inner">

		{% for column in columns %}
		{{ column }}
		{% endfor %}

	</div>
</div>
{% endif %}
{% endblock %}
