.cardColumns-inner {
	@include l-container('content-2');
	align-items: stretch;
	display: flex;
	justify-content: space-between;

	@media screen and ( max-width: 1280px ) {
		flex-wrap: wrap;
	}

}

.cardColumn-column {
	width: calc(25% - 2rem);

	@media screen and ( max-width: 1280px ) {
		margin-bottom: 3rem;
		width: calc(50% - 2rem);
	}

	@media screen and ( max-width: 550px ) {
		width: 100%;
	}

}
