{% block fullWidthImage %}
<div class="{{ classes }}">
  <div class="l-inner fullWidthImage-inner">

    {% if image_html %}
		{{ image_html }}
		{% endif %}

		{% if caption %}
		<div class="fullWidthImage-caption">{{ caption }}</div>
	  {% endif %}

  </div>
</div>
{% endblock %}
