.accordion-inner {
	@include l-container('content-2');
}

.accordion-list {
	background-color: $color-18;
	border: 1px solid $color-1;
}

.accordion-listItem {
	position: relative;
	padding: 1rem 2rem .7rem 2rem;

	@media screen and ( max-width: 480px ) {
		padding: 3rem;
	}

	+ .accordion-listItem {
		border-top: 1px solid $color-1;
	}
}


.accordion-headingLabel {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 100ms linear;

    @media screen and ( max-width: 480px ) {
        font-size: 2.3rem;
    }

    @media screen and ( max-width: 340px ) {
        font-size: 2rem;
    }

    &:hover {
        color: $hover;
    }
}

.accordion-heading {
	font-size: 1.875rem;
	font-family: $sans-2;
	letter-spacing: -.0135em;
  padding-right: 11rem;

  @media screen and ( max-width: 640px ) {
		padding-right: 5rem;
	}

	@media screen and ( max-width: 480px ) {
		padding-right: 2.5rem;
	}
}

.accordion-toggleIcon {
	font-size: 2.2rem;
	font-family: sans-serif;
	font-weight: 700;
	line-height: 1;
	transition: transform 200ms ease-in;
	transform: rotate3d(1, 1, 1, 0deg);

	&::before {
		content: '\002B'; // +
	}
}

.accordion-text {
	max-height: 0;
	letter-spacing: -.025em;
	overflow: hidden;
	overflow-y: auto;
	transition: max-height 200ms ease-out, margin 1ms linear 200ms;
	margin-top: 0;
}



// This is the checkbox <input>. The checked/unchecked state is what toggles the visibility of the answer.
.accordion-toggle {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;

	&:checked {

		~ .accordion-text {
			transition: max-height 400ms ease-in, margin 1ms linear;
			max-height: 100vh;
			margin-top: .3rem;
		}

		+ .accordion-headingLabel .accordion-toggleIcon {
			transform: rotate3d(1, 1, 1, 360deg);

			&::before {
				content: '\2212'; // -
			}
		}

	}

}
