.fullWidthImage-inner {
    position: relative;
}

.fullWidthImage-image {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
}

.fullWidthImage-caption {
    font-size: 1.6rem;
    max-width: 670px;
    margin-top: 2.5rem;
    position: relative;
}
