.listingItem-featured {
  padding: 12rem 0;
  background: url(../../images/bg-lines.png);
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: center top -50px;
	position: relative;

	&::before {
		@include page-tear-leather();
	}

  .listingItem-inner {
		@include l-container( 'content-1' );
    justify-content: space-between;
    align-items: center;
  }

  .listItem-imageContainer {
    @include image-clip;
    width: 500px;
    height: 500px;

    @media screen and ( max-width: 1840px ) {
      width: 23vw;
      height: 23vw;
    }

    @media screen and ( max-width: 700px ) {
      width: 65vw;
      height: 65vw;
    }
  }
}

.listingItem-info {
  flex-basis: 50%;
}
