{% block textBlock %}
<div class="{{ classes }}">
  <div class="textBlock-inner">

  {% if content %}
    <div class="textBlock-content entry-content">{{ content }}</div>
  {% endif %}

  </div>
</div>
{% endblock %}
