.formCard {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: $invert;
	padding: 3rem;
	position: relative;

	// Add an overlay on top of the background image so the text is easier to read. If it has the lazyloaded class, that means the background image was added.
	&.lazyloaded::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba(0,0,0,0) 30%, transparentize($color-1, .125) 100%);
		width: 100%;
		height: 100%;
	}
}

.formCard-inner {
	position: relative;
}
