.hero {
  // padding-top: var(--header-height);
  position: relative;

  // width: 1366px;
  // height: 883px;

  max-height: 883px;
  border: 1px solid #f0f;
  // height: 883px;
}

.hero-inner {
  padding-top: var(--header-height);
  position: relative;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 64.64%;
  // height: 0;
}

.hero-bgSVG {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-bgCover {
  mix-blend-mode: color;
}

.hero-heading {
  color: $invert;
  font-size: 9rem;
}
