.hero-home {
  color: white;
  position: relative;

  &:before {
    width: 100%;
    height: 100%;
    background: $color-2;
    mix-blend-mode: multiply;
    opacity: 1;
    z-index: 0;
	}

  .hero-inner {
		display: flex;
		align-items: stretch;
		height: 883px;
		padding-bottom: 22.8rem;

     @media screen and ( max-width: 1840px ) {
      padding-left: 20rem;
      padding-right: 20rem;
    }

    @media screen and ( max-width: 1575px ) {
      @include l-container('header');
      padding-bottom: 0;
    }

    @media screen and ( max-width: $home-hero-breakpoint ) {
			flex-wrap: wrap;
			height: auto;
			text-align: center;
    }
  }

  .hero-heading {
		font-size: 8.5rem;

    @media screen and ( max-width: $container-contentGroup-mobile ) {
      font-size: 4rem;
		}
  }

  .sectionNavigation li:first-child:before {
    background: white;
    border: none;
  }

  .hero-accent-1 {
    z-index: 1;
    left: 10%;
    bottom: -10px;

    @media screen and ( max-width: $home-hero-breakpoint ) {
      left: inherit;
      right: 5%;
    }

    @media screen and ( max-width: $container-contentGroup-mobile ) {
      max-width: 200px;
      height: auto;
      left: calc(50% + 40px);
      right: inherit;
      transform: translateX(-50%) !important;
    }
  }

  .hero-accent-2 {
    @media screen and ( max-width: $home-hero-breakpoint ) {
      display: none;
    }
  }

  .hero-headingLine {
		display: block;
		white-space: nowrap;
    position: relative;
    z-index: 3;
  }
}

.hero-backgroundImage {
  width: 100%;
  height: 100%;
  position: absolute;
  mix-blend-mode: overlay;
  opacity: .4;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.hero-content {
  flex-basis: 60%;
  position: relative;
  z-index: 5;

  @media screen and ( max-width: $home-hero-breakpoint ) {
    flex-basis: 100%;
  }
}

.hero-description {
  font-size: 1.4rem;
  margin-top: 2.5rem;
  max-width: 500px;
  line-height: 1.8;

  @media screen and ( max-width: $home-hero-breakpoint ) {
    text-align: center;
    margin: 1.4rem auto 0;
    max-width: 320px;
  }
}

.hero-img {
  flex-basis: 40%;
  min-height: 730px;
  position: relative;

  @media screen and ( max-width: 1575px ) {
    flex-basis: 100%;
    padding-top: 80%;
    min-height: inherit;
    z-index: 1;
  }

  @media screen and ( max-width: $home-hero-breakpoint ) {
    padding-top: 80%;
  }

  > img {
    position: absolute;
    height: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: auto;
    z-index: 2;

    @media screen and ( max-width: 1575px ) {
      left: 50%;
      right: inherit;
      transform: translate(-50%,-50%);
      height: 80%;
    }

    @media screen and ( max-width: $home-hero-breakpoint ) {
      height: auto;
      width: 100%;
      z-index: 0;
      min-width: 350px;
      top: 0;
      transform: translate(-50%, -15%);
    }
  }
}

.hero-button {
  @include button;
  color: $invert;
  z-index: 3;
  margin-top: 2rem;

  @media screen and ( max-width: $home-hero-breakpoint ) {
    margin-left: 3rem;
  }
}
