.hero.hero-home {
  color: white;
  position: relative;

  &:before {
    width: 100%;
    height: 100%;
    background: $color-2;
    mix-blend-mode: multiply;
    opacity: 1;
    z-index: 0;
  }

  .hero-heading {
    text-align: left;
    font-size: 8.5rem;
  }

  .sectionNavigation li:first-child:before {
    background: white;
    border: none;
  }

  .hero-accent-1 {
    z-index: 1;
    left: 10%;
    bottom: -10px;
  }

  .hero-headingLine {
    position: relative;
    z-index: 3;
  }
}

.hero-backgroundImage {
  width: 100%;
  height: 100%;
  position: absolute;
  mix-blend-mode: overlay;
  opacity: .4;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.hero-row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.hero-content {
  flex-basis: 60%;
  position: relative;
}

.hero-description {
  font-size: 1.4rem;
  margin-top: 2.5rem;
  max-width: 500px;
  line-height: 1.8;
}

.hero-img {
  flex-basis: 40%;
  min-height: 730px;
  position: relative;

  > img {
    position: absolute;
    height: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: auto;
    z-index: 2;
  }
}

.hero-button {
  @include cta-circle;
}