.hero {
  // border: 1px solid #f0f;
  position: relative;
  height: 883px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-2;
    opacity: .75;

    @supports (mix-blend-mode: hard-light){
      opacity: 1;
      mix-blend-mode: hard-light;
    }
  }

  @media screen and ( max-width: 1366px ) {
    height: auto;
  }

}

.hero-inner {
  padding-top: var(--header-height);
  padding-bottom: 22.8rem;
  position: relative;
}

.hero-heading {
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 50%;//477px 82px;
  color: $invert;
  font-size: 15rem;
  text-transform: uppercase;
  text-align: center;
  line-height: .8;
  margin-top: 16rem;
  letter-spacing: -.025em;

  @media screen and ( max-width: 1230px ) {
    font-size: 15vw;//11vw;
    margin-top: 12vw;
  }

  @media screen and ( max-width: 400px ) {
    font-size: 4rem;
  }

}

.hero-headingLine {
  display: block;
  white-space: nowrap;
}

.hero-headingOutline {
  background-repeat: no-repeat;
  background-position: right -10rem bottom;
  background-size: 72%;//690px 67px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px $invert;

  @media screen and ( max-width: 400px ) {
    -webkit-text-stroke: 1px $invert;
  }
}
