{% block sectionNavigation %}
<nav class="{{ classes }}">
  <ul>
    {% for number in final_numbers %}
      <li class="scrollspy-navItem">{{ number }}</li>
    {% endfor %}
  </ul>
</nav>
{% endblock %}
