.imageWithTextBlock-inner {
  @include l-container('content-1');
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and ( max-width: 768px ) {
    flex-direction: column-reverse;
  }

}

.imageWithTextBlock-image {
  flex-basis: 40%;

  @media screen and ( max-width: 768px ) {
    flex-basis: 100%;
    margin-top: 10px;
  }

  img {
    max-width: 100%;
  }
}

.imageWithTextBlock-content {
  flex-basis: 50%;

  @media screen and ( max-width: 768px ) {
    flex-basis: 100%;
  }
}