.cta {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: $invert;
	position: relative;
	text-align: center;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-5;
    opacity: .75;

    @supports (mix-blend-mode: hard-light){
      opacity: 1;
      mix-blend-mode: hard-light;
		}

	}

	&.cta-red::before {
		background-color: $color-4;
	}

	&.cta-blue::before {
		background-color: $color-2;
	}

}

.cta-inner {
	@include l-container('content-1');
	padding-bottom: 19rem;
	padding-top: 19.5rem;
	position: relative;
}

.cta-heading {
	font-size: 3rem;
	padding-top: 8.7rem;
	position: relative;

	&::before {
		border: 1px solid $invert;
		content: '';
		display: block;
		height: 14px;
		left: calc(50% - 7px);
		position: absolute;
		top: 0;
		transform-origin: center;
		transform: rotate(45deg);
		width: 14px;
	}

	&::after {
		background-color: $invert;
		content: '';
		display: block;
		height: 1px;
		left: calc(50% - 40px);
		position: absolute;
		top: 4.6rem;
		width: 81px;
	}

}

.cta-description {
	font-size: 1.4rem;
	margin-top: 2rem;
	line-height: 1.75;
}

.cta-button {
	@include button();
	margin-top: 4.3rem;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid $invert;
	color: $invert;

	&:hover {
		color: $invert;
	}
}
