.postGrid {
	background-color: $color-20;
  padding: 15rem 0;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
		height: 87px;
		background-repeat: repeat-x;
		background-image: url('../../images/border-page-tear-3.png');
		display: block;
	}

}

.postGrid-inner {
	@include l-container('content-2');
}

.postGrid-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2.2rem;

	@media screen and ( max-width: 1150px ) {
		grid-template-columns: 1fr 1fr;
	}

	@media screen and ( max-width: 550px ) {
		grid-template-columns: 1fr;
	}
}

.postGrid-header {
	margin-bottom: 10rem;

	// Override some defaults for the contentGroup module.
	.contentGroup-heading {
		color: $color-2;
	}

	.contentGroup-headingOutline {
		-webkit-text-stroke: 1.5px $color-2;
	}


}

.postGridItem {
	grid-area: span 1 / span 2;
}
