.postGrid {
	// background-color: $color-20;
	// padding-bottom: 12rem;
	// padding-top: 1.5rem;
	position: relative;

	// &::before {
	// 	@include page-tear-gray();
	// }

    &.small-small-small-small {
        .postGrid-grid {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    &.large-large {
        .postGrid-grid {
            grid-template-columns: 2fr 2fr;

            & > * {
                &:nth-child(3),
                &:nth-child(4) {
                    display: none;
                }
            }
        }
    }

    &.large-small-small {
        .postGrid-grid {
            grid-template-columns: 2fr 1fr 1fr;

            & > * {
                &:nth-child(4) {
                    display: none;
                }
            }
        }
    }

    &.small-large-large {
        .postGrid-grid {
            grid-template-columns: 1fr 1fr 2fr;

            & > * {
                &:nth-child(3),
                &:nth-child(4) {
                    display: none;
                }
            }
        }
    }

}

.postGrid-inner {
	@include l-container('content-2');
}

.postGrid-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2.2rem;
  grid-auto-rows: 1fr;

	@media screen and ( max-width: $breakpoint-homePageModules-wrap ) {
		grid-template-columns: 1fr 1fr;
	}

	@media screen and ( max-width: 768px ) {
		grid-template-columns: 1fr !important;
	}
}

.postGrid-header {
	margin-bottom: 10rem;

	// Override some defaults for the contentGroup module.
	.contentGroup-heading {
		color: $color-2;
	}

	.contentGroup-headingOutline {
		-webkit-text-stroke: 1.5px $color-2;
	}


}

.postGridItem {
	grid-area: span 1 / span 2;
}



// The standalone grids on the homepage and landing page templates get a background treatment.
.postGrid-home,
.postGrid-landing {
	background-color: $color-20;
	padding-bottom: 12rem;
	padding-top: 1.5rem;

	&::before {
		@include page-tear-gray();
	}

}


// Overrides for new page builder module, "Link Grid" aka ".postGrid-standard".
.postGrid-standard {
	padding-bottom: 3rem;

	.postGridItem {
        grid-area: auto;
	}

}

.postGrid-youthBaseball {
    margin-bottom: 7rem;
}