.contentGroup-primaryHeading {
  // background-position: -66% bottom;
  // background-repeat: no-repeat;
  // background-size: 50%;//477px 82px;
  color: $invert;
  font-size: 15rem;
  letter-spacing: -.025em;
  line-height: .8;
  margin-top: 16rem;
  position: relative;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  transition: opacity 1500ms;

  @media screen and ( max-width: 1230px ) {
    font-size: 15vw;//11vw;
    margin-top: 12vw;
  }

  @media screen and ( max-width: 480px ) {
    font-size: 7rem; //4rem;
    word-break: break-word;
  }
}

.contentGroup-accent {
  display: block;
  position: absolute;
  opacity: 0;
}

.contentGroup-accent-1 {
  bottom: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  transition: opacity 600ms 360ms, transform 800ms $bounce 260ms;

  @media screen and ( max-width: $design-width ) {
    left: calc(100vw - 13.8rem - 13.8rem - 90%);
  }

  @media screen and (max-width: 480px) {
    left: auto;
    right: 0;
  }
}

  .hero-accent-2 {
    bottom: 0;
    right: -10%;
    transform: translate3d(100%, 0, 0);
    transition: opacity 600ms 200ms,
    transform 800ms $bounce 100ms;

    @media screen and (max-width: $design-width) {
      right: calc(100vw - 13.8rem - 13.8rem - 100%);
    }

    @media screen and (max-width: 480px) {
      right: auto;
      left: 0;
    }
  }

.contentGroup-headingLine {
  display: block;
  white-space: nowrap;
  position: relative;

  &:not(.contentGroup-headingOutline){
    transform: translate3d(0, 2em, 0);
    transition: transform 775ms $bounce 260ms;
  }

  @media screen and ( max-width: 480px ) {
    white-space: normal;
  }

}

.contentGroup-headingOutline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px $invert;
  transform: translate3d(0, 1.5em, 0);
  transition: transform 700ms $bounce 100ms;
  position: relative;

  @media screen and ( max-width: 400px ) {
    -webkit-text-stroke: 1px $invert;
  }
}