.contentGroup {
  @media screen and ( max-width: $breakpoint-contentGroup-mobile ) {
    margin-bottom: 2rem;
  }
}

.contentGroup-heading {
  color: $color-3;
  text-align: left;
  letter-spacing: -.025em;
  line-height: .8;
  position: relative;
  opacity: 0;
  text-transform: uppercase;
  transition: opacity 1500ms;
  font-size: 6rem;

  @media screen and ( max-width: $breakpoint-contentGroup-mobile ) {
    font-size: 4rem;
    text-align: center;
  }

  &:before {
    content: "";
    width: 81px;
    height: 1px;
    background: $color-3;
    transform: translatey(-5rem);
    display: block;
    position: absolute;

    @media screen and ( max-width: $breakpoint-contentGroup-mobile ) {
      left: 50%;
      transform: translate(-50%, -5rem);
    }
  }
}

.contentGroup-accent {
  display: block;
  position: absolute;
	// opacity: 0;
	max-width: 253px;
	height: auto;
	width: 100%;
	right: 0;
	top: calc(100% - 10px);

	@media screen and ( max-width: $breakpoint-homePageModules-wrap ) {
    // right: auto;
    // left: 5%;
  }

  @media screen and ( max-width: $breakpoint-contentGroup-mobile ) {
		max-width: 200px;
		top: calc(100% - 6px);
    // left: calc(50% + 10px);
    // transform: translateX(-50%);
	}

}

.contentGroup-headingLine {
  display: inline-block;
  white-space: nowrap;
  position: relative;

  &:first-child {
    // white-space: normal;
  }

  @media screen and ( max-width: $breakpoint-contentGroup-mobile ) {
    font-size: 1
  }

  &:not(.contentGroup-headingOutline){
    transform: translate3d(0, 2em, 0);
    transition: transform 775ms $bounce 260ms;
  }

  @media screen and ( max-width: 480px ) {
    white-space: normal;
  }

}

.contentGroup-headingOutline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px $color-3;
  transform: translate3d(0, 1.5em, 0);
  transition: transform 700ms $bounce 100ms;
  position: relative;

  @media screen and ( max-width: 400px ) {
    // -webkit-text-stroke: 1px $invert;
  }
}

.contentGroup-textWrap {
  position: relative;
  z-index: 1;
}

.contentGroup-description {
  font-size: 1.4rem;
  margin-top: 2rem;
  max-width: 710px;
  line-height: 1.8;

  @media screen and ( max-width: $breakpoint-contentGroup-mobile ) {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
  }
}

.contentGroup-cta {
  @include button;
  margin-top: 2rem;
}

.contentGroup-ctaWrap {
  @media screen and ( max-width: $breakpoint-contentGroup-mobile ) {
    display: flex;
    justify-content: center;
  }
}

// animation things
html.wf-active,
html.wf-inactive {

  .contentGroup-heading {
    opacity: 1;
  }

  .contentGroup-headingLine,
  .contentGroup-headingOutline {
    transform: translate3d(0, 0, 0);
  }

  // .contentGroup-accent.lazyloaded {
  //   opacity: 1;
  //   transform: translate3d(0, 0, 0);
  // }

}
