{% block peopleCard %}
<div class="{{ classes }}">

	{{ image_html }}

	{% if name %}
	<h2 class="peopleCard-name">{{ name }}</h2>
	{% endif %}

	{% if job_title %}
	<div class="peopleCard-jobTitle">{{ job_title }}</div>
	{% endif %}

</div>
{% endblock %}
